<%#encoding:UTF-8%><%
if !title?
%>
<informalexample>
  <programlisting><%= content %></programlisting>
</informalexample>
 <% else %>
<example <%= @id && %( id="#{@id}") %> >
  <title><%= title %></title>
<programlisting><%= content %></programlisting>
</example>
<% end %>
