<%#encoding:UTF-8%><%
if !title?
%>
<informalexample>
  <programlisting xml:space="preserve"><%= content %></programlisting>
</informalexample><% else %>
<example <%= @id && %( id="#{@id}") %> ><title><%= title %></title><programlisting xml:space="preserve"><%= content %></programlisting></example><% end %>