<%#encoding:UTF-8%>
<% context = method 'context' %>
<% if [:sidebar, :admonition].include? @parent.context %>
  <para>
<% end %>
<% if !title? %>
<informalexample annotations="below">
<programlisting xml:space="preserve"><%= content %></programlisting>
<%
    idx = @parent.blocks.index(self)
    next_block = @parent.blocks[idx + 1]
unless !next_block.nil? && next_block.context == :colist 
%>
</informalexample>
<% end %>

<% else %>
<example<%= @id && %( id="#{@id}") %> annotations="below">
<title><%= title %></title>
<programlisting xml:space="preserve"><%= content %></programlisting><%
    idx = @parent.blocks.index(self)
    next_block = @parent.blocks[idx + 1]
unless !next_block.nil? && next_block.context == :colist %>
</example><% end %>

<% end %>
<% if [:sidebar, :admonition].include? @parent.context %>
  </para>
<% end %>