<%
	chapterFilename = attr 'chapterFilename'
	chapterFilename =~ /ch(.*)/
	chapterNumber = $1.nil? ? attr('chapter') : $1.to_i
%>
<?xml version="1.0" encoding="UTF-8"?><chapter xmlns="http://www.manning.com/schemas/book" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" label="<%= chapterNumber %>">

<title><%= attr 'doctitle' %></title>

<%= content.chomp %>

</chapter>
